@import "tailwindcss";
@plugin "daisyui" {
    themes:
        light --default,
        luxury --prefersdark,
        dark,
        cupcake,
        bumblebee,
        emerald,
        corporate,
        synthwave,
        retro,
        cyberpunk,
        valentine,
        halloween,
        garden,
        forest,
        aqua,
        lofi,
        pastel,
        fantasy,
        wireframe,
        black,
        luxury,
        dracula,
        cmyk,
        autumn,
        business,
        acid,
        lemonade,
        night,
        coffee,
        winter,
        dim,
        nord,
        sunset,
        caramellate,
        abyss,
        silk;
}

:root {
    font-family: "Noto Sans Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-weight: 400;
    line-height: 1.5;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
