@import "tailwindcss";

/* Custom catppuccin theme */
@plugin "daisyui/theme" {
    name: "catppuccin";
    default: false;
    prefersdark: false;
    color-scheme: dark;

    --color-base-100: oklch(0.2429 0.0304 283.91);
    --color-base-200: oklch(0.2155 0.0254 284.06);
    --color-base-300: oklch(0.1828 0.0204 284.2);
    --color-base-content: oklch(0.8787 0.0426 272.28);
    --color-primary: oklch(0.7871 0.1187 304.77);
    --color-primary-content: oklch(0.1828 0.0204 284.2);
    --color-secondary: oklch(0.8577 0.1092 142.72);
    --color-secondary-content: oklch(0.1828 0.0204 284.2);
    --color-accent: oklch(0.8237 0.1015 52.63);
    --color-accent-content: oklch(0.1828 0.0204 284.2);
    --color-neutral: oklch(0.8166 0.091 277.31);
    --color-neutral-content: oklch(0.1828 0.0204 284.2);
    --color-info: oklch(0.7664 0.1113 259.88);
    --color-info-content: oklch(0.1828 0.0204 284.2);
    --color-success: oklch(0.8577 0.1092 142.72);
    --color-success-content: oklch(0.1828 0.0204 284.2);
    --color-warning: oklch(0.8237 0.1015 52.63);
    --color-warning-content: oklch(0.1828 0.0204 284.2);
    --color-error: oklch(0.7556 0.1297 2.76);
    --color-error-content: oklch(0.1828 0.0204 284.2);

    /* border radius */
    --radius-selector: 1rem;
    --radius-field: 0.5rem;
    --radius-box: 0.5rem;

    /* base sizes */
    --size-selector: 0.25rem;
    --size-field: 0.25rem;

    /* border size */
    --border: 1px;

    /* effects */
    --depth: 1;
    --noise: 0;
}

@plugin "daisyui" {
    themes:
        coffee --default,
        catppuccin,
        light,
        dark,
        cupcake,
        bumblebee,
        emerald,
        corporate,
        synthwave,
        retro,
        cyberpunk,
        valentine,
        halloween,
        garden,
        forest,
        aqua,
        lofi,
        pastel,
        fantasy,
        wireframe,
        black,
        luxury,
        dracula,
        cmyk,
        autumn,
        business,
        acid,
        lemonade,
        night,
        winter,
        dim,
        nord,
        sunset,
        caramellatte,
        abyss,
        silk;
}

@custom-variant dark (&:where([data-theme=abyss], [data-theme=abyss] *, [data-theme=aqua], [data-theme=aqua] *, [data-theme=black], [data-theme=black] *, [data-theme=business], [data-theme=business] *, [data-theme=catppuccin], [data-theme=catppuccin] *, [data-theme=coffee], [data-theme=coffee] *, [data-theme=dark], [data-theme=dark] *, [data-theme=dim], [data-theme=dim] *, [data-theme=dracula], [data-theme=dracula] *, [data-theme=forest], [data-theme=forest] *, [data-theme=halloween], [data-theme=halloween] *, [data-theme=luxury], [data-theme=luxury] *, [data-theme=night], [data-theme=night] *, [data-theme=sunset], [data-theme=sunset] *, [data-theme=synthwave], [data-theme=synthwave] *));

:root {
    font-family: "Noto Sans Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-weight: 400;
    line-height: 1.5;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --real-viewport-height: 100%;
}

@supports (height: 100dvh) {
    :root {
        --real-viewport-height: 100dvh;
    }
}
html {
    height: var(--real-viewport-height);
}
body {
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: var(--real-viewport-height);
    overflow-x: hidden;
}

@layer base {
    html {
        @apply text-lg sm:text-base;
    }
}
